/* font-family: 'Cookie', cursive; */
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url("./assets/04-BG.png");
    background-size: cover;
}

nav {
    height: 75px;
    width: 100%;
    background-color: #ACD0B4;
}

nav .nav-logo {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Cookie', cursive;
    font-size: 71px;
    color: purple;
}
