/* font-family: 'Cookie', cursive; */
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url("./assets/04-BG.png") no-repeat center center fixed;
    background-size: cover;
}

nav {
    background-color: #ABD0B6;
    width: 100%;
    height: 10%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.container-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 420px;
    transform: translate(-50%, -50%);
}

.container-title h1 {
    text-align: center;
    font-weight: normal;
    line-height: 50px;
}

.contant-form {
    position: relative;
    top: -15px;
}

h1 {
    font-family: 'Cookie', cursive;
    font-size: 71px;
    color: white;
}

*:focus {
    outline: none;
}

/* Button Style */
.btn {
    background-color: #71A397;
    color: white;
    border-radius: 8px;
    border-style: none none solid;
    border-color: #4C8979;
    border-width: 10px;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    height: 60px;
}

/* Inputs */
.input {
    font-family: 'Open Sans';
    width: 100%;
    border-style: none;
    height: 50px;
    font-size: 18px;
    padding: 25px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.textarea {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 25px;
    resize: none;
    font-family: 'Open Sans';
    font-size: 18px;
    margin-bottom: 25px;
}